@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/bg-desktop.svg);
  background-color: #674BB1;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 150px 0px 150px;
  height: 100vh;
}

body .header-wrapper {
  margin-bottom: 80px;
}

body .header-wrapper .logo-wrapper {
  max-width: 200px;
}

body .header-wrapper .logo-wrapper .logo {
  width: 100%;
}

body .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

body .main-wrapper .mockups-wrapper {
  min-width: 950px;
  margin-right: 80px;
}

body .main-wrapper .mockups-wrapper .mockups-img {
  width: 100%;
}

body .main-wrapper .introduction-wrapper {
  padding: 50px 0;
  max-width: 600px;
  color: #FFF;
}

body .main-wrapper .introduction-wrapper .introduction-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 30px;
}

body .main-wrapper .introduction-wrapper .introduction-content {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin-bottom: 30px;
}

body .main-wrapper .introduction-wrapper .register-button {
  padding: 15px 70px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  color: #5f3892;
}

body .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .footer-wrapper .icons-wrapper .icon {
  margin: 5px;
  color: white;
  border-radius: 50%;
  border: 1px #FFF solid;
  padding: 10px;
}

body .footer-wrapper .icons-wrapper .fab.fa-facebook-f.icon, body .footer-wrapper .icons-wrapper .fab.fa-instagram.icon {
  padding: 10px 12px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  body {
    padding: 60px 30px;
    background: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: #674BB1;
    background-size: cover;
  }
  body .header-wrapper .logo-wrapper {
    max-width: 150px;
  }
  body .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  body .main-wrapper .mockups-wrapper {
    min-width: 0 !important;
    width: 100%;
  }
  body .main-wrapper .mockups-wrapper .mockups-img {
    width: 100%;
  }
  body .main-wrapper .introduction-wrapper {
    text-align: center;
  }
  body .footer-wrapper {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */